*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border-50 {
  border-radius: 20px;
}
#particles-js {
  background-color: #000;
  height: 100vh;
}
.container-fluid,
.container {
  background: transparent !important;
}
