%button {
    padding: 10px;
    display: inline-block;
    border: none;
    background: none;
    outline: none;
}

.button {
    .red {
        color: $white;
        background-color: $red;
    }
}