* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bg-primary: rgb(1, 96, 160);
$White: #fff;
$padding: 10px;
.content-Center {
    padding: 10px 0;
    position: relative;
    width: 70%;
    margin: 0 auto;
    .Row {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
    }
}

.coming-soon {
    font-size: 16px;
    font-family: calibri, Arial, "sans-serif" !important;
    display: block;
    text-align: center;
    color: rgb(29, 28, 29);
    padding: 10px;
    border: 2px solid rgba(255, 0, 0, 0.473);
    border-radius: .4rem;
    background-color: rgba(252, 70, 70, 0.3);
}

table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.header-text {
    border-radius: .4rem .4rem 0 0;
    background-color: rgb(1, 96, 160);
    color: $White;
    padding: $padding 0;
    text-align: center;
    font-weight: 300;
}

.div-img {
    position: relative;
}

.box-Content {
    padding: 10px;
}

.paragraph {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin BorderRaduis {
    padding: 10px;
    border-radius: .4rem;
}

@mixin BorderRaduisTop {
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.profil {
    position: relative;
    width: 100%;
    background: #fff;
    background-color: linear-gradient(45deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
    padding: 20px 0 10px 0;
    .card-box {
        position: relative;
        width: 100%;
        .card-Header {
            position: relative;
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: rgb(1, 96, 160);
            @include BorderRaduisTop();
            .Img-Profil {
                position: relative;
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin: 0 0 -120px 0;
                border-radius: 50%;
                z-index: 2;
                background-color: #fff;
                border: 5px solid rgb(255, 255, 255);
                box-shadow: 0 3px 2px 0 rgba(5, 5, 5, 0.233);
            }
        }
        .card-body {
            position: relative;
            .wrapper {
                display: block;
                width: 100%;
                padding: 80px 10px 10px 10px;
                background: #fff;
                .grid-2 {
                    position: relative;
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: 2rem;
                    font-family: roboto, 'sans-serif';
                    .col-3 {
                        position: relative;
                        padding: 10px;
                        @include BorderRaduis();
                        background-color: #fff;
                        box-shadow: 0 3px 0 2px rgba(255, 255, 255, 0.1);
                    }
                    @media screen and (max-width: 768px) {
                        & {
                            display: grid;
                            grid-template-columns: 1fr;
                        }
                    }
                }
            }
        }
    }
}

.Button {
    position: relative;
    display: inline-block;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 10px;
}

.outline {
    outline: none !important;
}

.border-radius {
    @include BorderRaduis();
}

.border-primary {
    border: 2px solid rgb(1, 96, 160);
}

.bg-none {
    background: transparent;
}

.bg-primary {
    background-color: $bg-primary;
    color: #fff;
}

.Btn-Block {
    display: block;
    width: 100%;
}

.text-center {
    text-align: center;
}

.display-1 {
    font-size: 1.6rem;
    font-weight: 300;
}

.Input-Css {
    position: relative;
    padding: 10px;
    width: 100%;
    display: block;
    margin: 5px 0;
    outline: none !important;
    border: 1px solid #ccc;
    border-radius: .4rem;
}

textarea.Input-Css {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}