*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    display: block;
}

#body {
    background-image: url("../img/plantyn_primaire_francais_subject-header.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');
$White: #fff;
$padding: 10px;
.content-Center {
    padding: 10px 0;
    position: relative;
    width: 70%;
    // background-color: rgba(53, 88, 104, 0.7);
    margin: 0 auto;
    .Row {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 10px;
    }
    @media screen and(max-width: 768px) {
        & {
            width: 100%;
            margin: 0;
            .Row {
                width: 100%;
                margin: 50px auto;
                grid-template-columns: 1fr;
            }
        }
    }
}

.coming-soon {
    font-size: 16px;
    font-family: calibri, Arial, "sans-serif" !important;
    display: block;
    text-align: center;
    color: rgb(29, 28, 29);
    padding: 10px;
    border: 2px solid rgba(255, 0, 0, 0.473);
    border-radius: .4rem;
    background-color: rgba(252, 70, 70, 0.3);
}

table {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.header-text {
    border-radius: .4rem .4rem 0 0;
    background-color: rgb(1, 96, 160);
    color: $White;
    padding: $padding 0;
    text-align: center;
    font-weight: 300;
}

.div-img {
    position: relative;
    display: block;
    width: 100%;
    img {
        position: relative;
        width: 100%;
    }
}

.box-Content {
    padding: 10px;
}

.paragraph {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#results {
    position: relative;
    z-index: 2;
    padding: 10px;
    border-radius: .4rem;
    background: #fff;
    box-shadow: 3px 0px 27px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 0px 27px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 0px 27px -1px rgba(0, 0, 0, 0.75);
    background-color: linear-gradient(to right bottom, rbga(255, 255, 255, 0.7), rgba(255, 255, 255, 0.103));
    backdrop-filter: blur(20rem);
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: roboto;
    }
    &::before {
        position: fixed;
        content: "";
        z-index: 0;
        top: -25px;
        right: -25px;
        width: 100px;
        height: 100px;
        background-color: #fff;
        @media screen and (max-width: 768px) {
            & {
                display: none;
            }
        }
    }
    @media screen and (max-width: 768px) {
        & {
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
        }
    }
}

.element {
    position: relative;
    display: block;
    padding: 10px;
    margin: 15px auto;
    background: rgb(236, 236, 236);
    border-radius: .4rem;
}

.content-center-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    .box-center {
        position: relative;
        // width: 30%;
        margin: 0 auto;
        background: #ccc;
        padding: 5px 20px;
        border-radius: .4rem;
        background-color: linear-gradient(to right bottom, rgba(255, 255, 245, 0.5), rgba(255, 255, 255, 0.2));
        .group {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            .Button {
                padding: 10px 15px;
                background: none;
                outline: none;
                border: none;
                background-color: #fff;
                cursor: pointer;
                transition: all 0.3s ease-in;
                &.active {
                    background-color: #111;
                    color: #fff;
                }
            }
            .one {
                border-top-left-radius: .4rem;
                border-bottom-left-radius: .4rem;
            }
            .second {
                border-top-right-radius: .4rem;
                border-bottom-right-radius: .4rem;
            }
        }
    }
}

.box-elmts {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    &>div {
        position: relative;
        background: #ccc;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        padding: 10px;
        min-width: 200px;
        min-height: 200px;
        border-radius: .4rem;
        cursor: pointer;
        h3 {
            text-align: center;
        }
        .icon {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            object-fit: cover;
        }
    }
    @media screen and(max-width: 768px) {
        & {
            position: relative;
            background: #ccc;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2rem;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 10px;
            width: 100%;
            margin-bottom: 5px;
            &>div {
                margin: 10px auto;
            }
        }
        .icon {
            display: block;
            width: 250px;
        }
    }
}

.icon {
    position: relative;
    width: 100%;
}

.h-text {
    margin: 10px 0;
    text-decoration: underline;
    // border-bottom: 2px solid rgb(238, 238, 238);
}

.content-main {
    position: relative;
    background: #fff;
    background-image: url(../img/plantyn_primaire_francais_subject-header.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(20rem);
}

.circle-1,
.circle-2 {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: #fff;
    background-color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.grid {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px auto;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    // padding: 1rem;
    &::before {
        content: '';
        position: absolute;
        top: -2rem;
        left: -2rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.05);
    }
    .box {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.05);
        ;
        & div:nth-child(1) {
            position: relative;
            background: transparent;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            padding: 1rem;
            border-radius: 1rem 0 0 1rem;
            font-family: arial;
        }
        & div:nth-child(2) {
            position: relative;
            overflow: hidden;
            border-radius: 0 1rem 1rem 0;
        }
        img {
            display: block;
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            & {
                display: grid;
                grid-template-columns: 1fr;
                div:nth-child(1) {
                    border-radius: 1rem 1rem 0 0;
                }
                div:nth-child(2) {
                    border-radius: 0 0 1rem 1rem;
                }
            }
        }
    }
}

// Search Engine
.searchContent {
    position: absolute;
    top: 50px;
    left: 0;
    padding: 1rem;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(20px);
    .center {
        width: 70%;
        margin: 0 auto;
        .button-close {
            width: 10%;
            margin: .5rem auto;
            .buttonClose-center {
                display: block;
                align-items: center;
                align-content: center;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif !important;
                padding: .9rem;
                border: 2px solid transparent;
                border-radius: 50%;
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.05);
                background-color: #fff;
                backdrop-filter: blur(40px);
                color: #111;
                cursor: pointer;
                transition: all ease 0.3s;
                &:hover {
                    box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.09);
                    color: #000;
                }
            }
        }
        .box {
            font-family: Arial, Helvetica, sans-serif !important;
            background-color: #fff;
            border-radius: 1rem;
            width: 100%;
            margin: 1rem auto;
            overflow: hidden;
            padding: 1rem;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
        }
    }
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin: 2rem auto;
    video {
        width: 100%;
        border-radius: .4rem;
        background-color: rgba(17, 17, 17, 0.408);
    }
}

.container-dashboard {
    position: relative;
    margin: 50px auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    .content-center-dashboard {
        width: 70%;
        height: 500px;
        margin: 0 auto;
        background: #fff;
        background: linear-gradient(to left top, rgba(255, 255, 255, 0.396), rgba(255, 255, 255, 0.478));
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(40px);
        border-radius: .4rem;
        display: grid;
        grid-template-columns: 1.5fr 4fr;
        .dashbord-dashboard {
            position: relative;
            width: 100%;
            background-color: #fff;
            border-radius: .4rem 0 0 .4rem;
            padding: 1rem;
            background: rgba(255, 255, 255, 0.9);
            .img-box-center {
                position: relative;
                width: 50%;
                margin: 0 auto;
                .profil-img-dashboard {
                    position: relative;
                    width: 7.5rem;
                    height: 7.5rem;
                    margin: 0 auto;
                    border-radius: 50%;
                    background-color: #ccc;
                    object-fit: cover;
                }
            }
            ul {
                position: relative;
                list-style: none;
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 10px 0;
                    cursor: pointer;
                    padding: 8px 15px;
                    border-radius: .4rem;
                    background-color: rgba(0, 0, 0, 0.3);
                    img {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin: 0 50px 0 0;
                    }
                }
            }
            .center {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 10px auto;
            }
        }
        .section {
            position: relative;
            .wrapper {
                display: block;
                position: relative;
                padding: 20px;
                .element {
                    position: relative;
                    width: 100%;
                    padding: 10px;
                    background: #fff;
                    border-radius: .4rem;
                    display: grid;
                    grid-template-columns: 1.5fr 3fr 1fr;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    .item-1 {
                        position: relative;
                        width: 100%;
                        display: block;
                        // background-color: #000;
                        .img-box {
                            width: 80%;
                            margin: 0 auto;
                            position: relative;
                            position: relative;
                            overflow: hidden;
                            border-radius: .4rem;
                            img {
                                position: relative;
                                width: 90px;
                                height: 90px;
                                margin: 0 auto;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(2) {
            position: relative;
            flex: 9;
        }
    }
}