*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: calibri, !important;
}
.padding-5{
    position: relative;
    padding: 10px;
}

.Navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: rgb(42, 76, 140);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
    box-shadow: 1px 2px 5px rgb(70, 70, 70);
}
.topBar-Left{
    flex: 3;
}
.logo{
    position: relative;
    color: #fff;
    font-family: roboto !important;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none !important;
}
.topBar-Center{
    flex: 5;
}
.input-group{
    position: relative;
    width: 100%;
    height: 30px;
    padding: 5px;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}
.topBar-Right{
    flex: 4;

    display: flex;
    justify-content: space-around;
}
.topBar-Right .list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.topBar-Right .list li a{
    text-decoration: none;
    text-align: center;
    padding: 8px 10px;
    color: #fff;
    font-family: roboto !important;
    font-size: 16px;

    border-radius: 5px;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.topBar-Right .list li a:hover{
    color: blue;
    background-color: rgba(0, 0, 0, 0.638);
}
.input{
    position: relative;
    width: 100%;
    font-size: 16px;
    font-family: roboto !important;
    
    outline: none !important;
    border: none !important;
    padding: 0 10px 0 10px;
}

.img-profil{
    position: relative;
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff
}

.main{
    position: relative;
    display: flex;
    width: 100%;
}

.Side-Left{
    position: relative;
    width: 100%;
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: auto;
}
.Search-Box{
    position: relative;
    background-color: rgb(42, 76, 140);
    display: block;
    padding: 20px;
    margin: 0 10px;

    border-radius: 0 0 16px 16px;
}
.search-form{
    position: relative;
    outline: none !important;
    padding: 15px;
    width: 100%;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 15px;

    background-color: rgba(255, 255, 255, 0.562);
    font-family: roboto, calibri !important;
    font-size: 20px;
    font-weight: 600;
}

.Side-Center{
    position: relative;
    flex: 5.5;
}
.Card{
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    margin-bottom: 15px;
    box-shadow: 0 0px 5px rgba(97, 71, 71, 0.384);
    font-family: roboto !important;
}
.Card-Header,.Card-Footer{
    position: relative;
    padding: 20px;
    background-color: #fff;
}
.Card-Footer{
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
}
.Card-Footer span i{
    position: relative;
    cursor: pointer;
    /* justify-content: center; */
    /* align-items: center; */
    color: #fff;
    background: rgb(42, 76, 140);
    border-radius: 50%;
    padding: 5px;
}

.Card-Footer span i:hover{
    color: #fff;
    background-color: rgba(42, 76, 140, 0.466);
}
.Content-img{
    position: relative;
    width: 100%;
    height: 250px;
}
.Img{
    position: relative;
    width: 100%;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: grey;
}
.Side-Right{
    flex: 3.5;
    position:relative;
    padding: 10px;
}


.Gr-List{
    position: relative;
    list-style: none;
}
.Gr-List li a{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 10px;
    border-radius: 16px;

    text-decoration: none;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

    background-color:rgb(99, 121, 161);
}
.Gr-List li a span{
    font-weight: 500;
}

@media(max-width: 750px){
    .Navbar{

        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
    }
    .logo{
        font-weight: 600;
        font-family: calibri !important;
        font-size: 20px;
    }
    .topBar-Center{
        position: fixed;
        top: 50px;
        left: 0;
        width: 230px;
        /* height: 45px; */
        padding: 10px;
        border-top: 1px solid grey;
        background: rgb(42, 76, 140);
    }
    
    .topBar-Right .list::before{
        content: '';
        position: absolute;
        z-index: 0;
        top: 100px;
        left: 0;
        width: 230px;
        height: calc(100vh - 100px);
        background: rgb(42, 76, 140);
    }
    .topBar-Right .list{
        z-index: 99;
        display: grid;
        grid-template-columns: 1fr;

        position: fixed;
        top: 100px;
        left: 0;
        padding: 10px;
        background: rgb(42, 76, 140);

        width: 230px;
        /* height: calc(100vh - 100px); */
    }
    .topBar-Right .list li a{
        position: relative;
        display: block;
        text-align: left;
        font-family: calibri !important;
        font-size: 16px;
        font-weight: 300;
        margin: 5px 0;
        padding: 10px;
        height: 35px;
        background-color: royalblue;
        z-index: 999;
    }
    .topBar-Right .img-profil{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .topBar-Left{
        position: relative;
        display: block;
    }
    .main{
        position: relative;
        display: block;
        width: 100%;
    }
    .Side-Right, .Side-Left{
        display: none;
    }
}