* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.center {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 20px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  font-family: Roboto, sans-serif;
  min-height: 200px;
  width: 100%;
  padding: 50px 100px;
  background-color: black;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: start;
}

.element-1.one {
  color: #ccc;
}
.element-1.two {
  color: lightpink;
}
.element-1.tree {
  color: linen;
}
